body{
    background-image: url(../images/sky.jpg);
 
 }
 .choice {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-image: url();
    background-size: cover;
 }
 #time{
    text-align: right;
 }
 .jumbotron{
    background-color: skyblue;
    background-size: cover;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    color: darkblue;
 }